parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$keys of method Mazarini\\\\Config\\\\Config\\\\Config\\:\\:getNode\\(\\) expects array\\<int, int\\|string\\>, array\\<int\\|string, int\\|string\\> given\\.$#"
			count: 2
			path: ../../src/Config/Config.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: ../../tests/src/AppBundle.php
